// @use "@/assets/styles/utils/_index.scss" as *; // sa createShadowRootUi() ovo ne treba i kao da je oni u vite dovoljno, ali sa createIntegratedUi() i kad importujemo samo main.scss onako a ne svaki scss file u content.js, treba -> wtf

.gp-btn {
    width: 100%;
    border: none;
    border-radius: var(--br-btn);
    padding: var(--sp-md);
    font-weight: 700;
    font-size: var(--fsz-xs);
    letter-spacing: 0.04em;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: var(--c-txt);
    background-color: cmod(currentColor, $a: 0.1);
    transition:
        background-color var(--ease-base),
        scale var(--ease-base),
        color var(--ease-base) opacity var(--ease-base);

    &:hover,
    &[aria-pressed="true"] {
        background-color: cmod(currentColor, $a: 0.3);
        scale: 0.98;
    }

    &:disabled {
        opacity: 0.7;
        cursor: wait;
    }


    &:focus-visible {
        outline: 2px solid var(--c-txt);
        outline-offset: 2px;
    }

    &__icon {
        line-height: 1;
        font-size: 0.8125rem;
    }

    &--primary {
        color: var(--c-txt);
        background-color: cmod(currentColor, $a: 0.1);
    }

    &--import,
    &--export {
        background-color: cmod(currentColor, $a: 0.2);
        box-shadow: inset 0 0 4px 2px cmod(currentColor, $a: 0.1);
        font-size: var(--fsz-sm);
        text-transform: uppercase;
        border-radius: 50vw;

        &.active {
            scale: 1;
        }

        &:hover,
        &[aria-pressed="true"] {
            background-color: cmod(currentColor, $a: 0.3);
            scale: 0.98;
        }
    }

    // Variants
    &--export {
        color: var(--c-export);

        &.active {
            color: cmod(currentColor, $l: "25%");
            background-color: var(--c-export);
        }
    }

    &--import {
        color: var(--c-import);

        &.active {
            color: cmod(currentColor, $l: "25%");
            background-color: var(--c-import);
        }
    }

    &--succ,
    &--warn,
    &--err {
        border-radius: calc(var(--br-btn) * 0.8);
        background-color: cmod(currentColor, $a: 0.1);
    }

    &--succ {
        color: var(--c-succ);
        // background-color: cmod(var(--c-succ), $l: "15%");
    }

    &--warn {
        color: var(--c-warn);
        // background-color: cmod(var(--c-warn), $l: "15%");
    }

    &--err {
        color: var(--c-err);
        // background-color: cmod(var(--c-err), $l: "15%");
    }
}