*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    font: inherit;
    background: none;
    border: none;

    &:disabled {
        opacity: 0.4;
        cursor: not-allowed;
    }
}

button,
a {
    &:focus-visible {
        outline: 2px solid currentColor;
        outline-offset: 2px;
    }
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}