:root,
:host {
  // COLORS
  --c-txt: oklch(92.098% 0.08972 153.225);
  --c-bg: oklch(12% 0.005 260 / 0.5);
  --c-border: oklch(100% 0 0 / 0.06);
  --c-border-dash: oklch(100% 0 0 / 0.13);

  --c-import: oklch(83.94% 0.152 150.85);
  --c-export: oklch(78.80% 0.147 58.18);

  --c-succ: oklch(80% 0.16 150);
  --c-warn: oklch(78% 0.14 58);
  --c-err: oklch(72% 0.19 25);


  // SIZING
  --fab-gap: 1.25rem;
  --panel-w: clamp(12rem, 25vw, 15rem);
  --panel-z: 999999;
  --panel-gap: calc(var(--fab-gap) * 1.85);

  --icon-sz: 1.35em;
  --logo-sz: 3em;

  // FILTER
  --fx-blur: 20px;
  --fx-saturate: 180%;
  --fx-glass-opacity: 0.25;
  --filter-glass: blur(var(--fx-blur)) saturate(var(--fx-saturate));

  // RADIUS
  --br: 0.825rem;
  --br-btn: var(--br);
  --br-textarea: var(--br);
  --br-panel: calc(var(--br) * 2);
  --br-toast: calc(var(--br) * 1.25);

  // SPACING
  // --sp-xs: 0.375rem;
  // --sp-sm: 0.5rem;
  // --sp-md: 0.75rem;
  // --sp-lg: 1.25rem;

  --sp-xs: clamp(0.25rem, 0.5vw, 0.375rem); // 4px → 6px
  --sp-sm: clamp(0.375rem, 0.8vw, 0.5rem); // 6px → 8px
  --sp-md: clamp(0.5rem, 1vw, 0.75rem); // 8px → 12px
  --sp-lg: clamp(0.75rem, 1.5vw, 1rem); // 12px → 16px
  --sp-xl: clamp(1rem, 2vw, 1.25rem); // 16px → 20px
  --sp-2xl: clamp(1.25rem, 2.5vw, 1.5rem); // 20px → 24px
  --sp-3xl: clamp(1.5rem, 3vw, 2rem); // 24px → 32px

  // TRANSITIONS
  --ease-fast: 0.16s ease;
  --ease-base: 0.22s ease;
}