:root {
	--c-accent: oklch(83.94% 0.152 150.85);
	--c-txt: oklch(from var(--c-accent) 70% c h / 1);
	--c-bg: oklch(from var(--c-accent) 10% c h / 1);
	--ease-base: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

body {
	background-image: linear-gradient(
		to bottom right,
		oklch(from var(--c-accent) 22% c h / 1) 10%,
		oklch(from var(--c-accent) 15% c h / 1) 25%,
		var(--c-bg) 50%
	);
	color: var(--c-txt);
	font-size: 1rem;
	width: 30rem;
	padding: 0.5em;
	line-height: 1.6;
}

::selection {
	background: var(--c-accent);
	color: var(--c-bg);
}

a {
	color: currentColor;
	text-decoration: none;
}
